<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="str" value="server=PC-PC;database=ExamOnline;uid=sa;pwd='Emp2220103909'"/>
  </appSettings>

	<connectionStrings/>
	<system.web>
		<customErrors mode="Off"></customErrors>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="Windows"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    
    <httpRuntime requestValidationMode="2.0" />
  
  </system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="index.aspx"/>
				<add value="Login.aspx"/>
			</files>
		</defaultDocument></system.webServer>
</configuration>
